// Color

p1 = #300032
p2 = #06000a // Black
p3 = #c43235
p4 = #e6e6e8

body
  background p4
  color p3
  
nav
  background p1
  color p4
  .brand-logo
    img
      height 60px
      padding-top 5px
      
.stage
  .col
    border 1px solid white
    width 400px 