@import url(https://fonts.googleapis.com/css?family=Lobster)
// Color
p1 = #300032
p2 = #06000a // Black
p3 = #c43235
p4 = #e6e6e8

// Helpers
shadow1()
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)


body
  background p4
  color p3
  
nav
  background p2
  color p4
  .brand-logo
    font-family lobster
    margin 0 auto
    margin-left 25px
    :hover
      color #6BBA44 !important
    img
      height 57px
      padding-top 8px
  a:hover
    color #6BBA44 !important 
      
.stage
  .sidebar
    // background p1
    text-align center
    z-index 999
    a
      color p4 !important
      :hover
        color p3
    li
      margin-top 1em
    width 50px !important
    position absolute
    background p1
  .content
    margin-left 50px
    background p4
    color black
    h4
      margin-top 0 !important
      padding-top .25em
    // border 1px solid white


#users-table
  th
    min-width 100px !important
  td
    min-width 100px !important
    color p1
  td:hover
    color red
.users-stats
  height 20px
  width 100%
  color white
  text-align center
  opacity .8
  background p2

#requests-table
  th
    background p2 !important
    color white
    
#requests-map
  height 600px
.stats
  height 20px
  width 100%
  background black
  opacity .7
  color white
  // border 1px solid black
  // background red
  // left 40%
  position absolute
  margin 0 auto
  z-index 9
  left 0
.toast-positive
  color green
.toast-negative
  color red
.toast-neutral
  color white
  
.marker-positive
  color green
.marker-negative
  color red
.marker-warning
  color orange
  
.positive
  color green
.negative
  color red
.warning
  color orange
.neutral
  color white