@import url("https://fonts.googleapis.com/css?family=Lobster");
body {
  background: #e6e6e8;
  color: #c43235;
}
nav {
  background: #06000a;
  color: #e6e6e8;
}
nav .brand-logo {
  font-family: lobster;
  margin: 0 auto;
  margin-left: 25px;
}
nav .brand-logo :hover {
  color: #6bba44 !important;
}
nav .brand-logo img {
  height: 57px;
  padding-top: 8px;
}
nav a:hover {
  color: #6bba44 !important;
}
.stage .sidebar {
  text-align: center;
  z-index: 999;
  width: 50px !important;
  position: absolute;
  background: #300032;
}
.stage .sidebar a {
  color: #e6e6e8 !important;
}
.stage .sidebar a :hover {
  color: #c43235;
}
.stage .sidebar li {
  margin-top: 1em;
}
.stage .content {
  margin-left: 50px;
  background: #e6e6e8;
  color: #000;
}
.stage .content h4 {
  margin-top: 0 !important;
  padding-top: 0.25em;
}
#users-table th {
  min-width: 100px !important;
}
#users-table td {
  min-width: 100px !important;
  color: #300032;
}
#users-table td:hover {
  color: #f00;
}
.users-stats {
  height: 20px;
  width: 100%;
  color: #fff;
  text-align: center;
  opacity: 0.8;
  background: #06000a;
}
#requests-table th {
  background: #06000a !important;
  color: #fff;
}
#requests-map {
  height: 600px;
}
.stats {
  height: 20px;
  width: 100%;
  background: #000;
  opacity: 0.7;
  color: #fff;
  position: absolute;
  margin: 0 auto;
  z-index: 9;
  left: 0;
}
.toast-positive {
  color: #008000;
}
.toast-negative {
  color: #f00;
}
.toast-neutral {
  color: #fff;
}
.marker-positive {
  color: #008000;
}
.marker-negative {
  color: #f00;
}
.marker-warning {
  color: #ffa500;
}
.positive {
  color: #008000;
}
.negative {
  color: #f00;
}
.warning {
  color: #ffa500;
}
.neutral {
  color: #fff;
}
